@import: url('https://fonts.google.com/specimen/Poppins');
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: hsl(0, 100%, 74%);
	background-image: url('bg-intro-desktop.png');
	font-size: 16px;
	font-family: Poppins, Helvetica;
	width: 1440px;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 50px;
	flex-wrap: wrap;
}
.intro{
	padding: 20px;
        color: white;
        text-align: center;
}
.form{
	padding: 20px;
}
form{
	background-color: white;
	padding: 10px;
	 
}
form input{
	line-height: 5px;
	padding: 5px;
	font-weight: bolder;
	width: 385px;
	border-radius: 5px;
}
#button1{
	background-color: hsl(248, 32%, 49%);
	padding: 5px 20px;
	color: white;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 420px;
}
#button1 span{
	font-weight: bolder;
}
#button2{
	padding: 5px 20px;
	background-color: hsl(154, 59%, 51%);
	border: none;
	font-weight: bolder;
	color: white;
	text-transform: uppercase;
	width: 400px;
	height: 50px;
	border-radius: 5px ;
}
#redspan{
	color: hsl(0, 100%, 74%);
	font-weight: bold;
}


@media screen and (max-width: 480px){
	body{
		width: 375px;
		background-color: hsl(0, 100%, 74%);
		background-image: url('bg-intro-mobile.png');
		font-size: 16px;
		font-family: Poppins, Helvetica;
	}
	main{
		padding: 30px;
	}

	.intro{
		/*padding: 20px;*/
	}
	.form{
		/*padding: 20px;*/
	}
	form{
		background-color: white;
		padding: 10px;
		text-align: center;
	}
	form input{
		line-height: 5px;
		padding: 5px;
		font-weight: bolder;
		width: 95%;
		border-radius: 5px;
	}
	#button1{
		background-color: hsl(248, 32%, 49%);
		padding: 5px 20px;
		color: white;
		border: none;
		border-radius: 10px;
		height: 70px;
		width: 100%;
	}
	#button1 span{
		font-weight: bolder;
	}
	#button2{
		padding: 5px 20px;
		background-color: hsl(154, 59%, 51%);
		border: none;
		font-weight: bolder;
		color: white;
		text-transform: uppercase;
		width: 100%;
		height: 50px;
		border-radius: 10px ;
	}
	#redspan{
		color: hsl(0, 100%, 74%);
		font-weight: bold;
	}


}
